* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(62, 62, 62);
  font-family: Arial, Helvetica, sans-serif;
}

.offset-border {
  width: 300px;
  max-height: 150px;
  background-color: #2e86b6;
  border-style: solid;
  border-width: 0px 1.5px 3px;
  border-color: rgb(251, 244, 235);
  border-radius: 8px;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px;
  gap: 5px;
  overflow: visible;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: rgb(251, 244, 235);
}

button {
  border: none;
  padding: 3px 0px;
  background-color: black;
  color: rgb(251, 244, 235);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.shoes {
  margin-top: -40px;
}

.image {
  width: 100%;
  height: 135px;
  object-fit: cover;
  border-radius: 20px;
}
