* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.profile-container {
  position: relative;
  max-width: 400px;
  width: 100%;
  padding: 25px;
  border-radius: 25px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.profile-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 24px 24px 0 0;
  background-color: #1a89de;
  height: 40%;
  width: 100%;
}

.profile-picture {
  position: relative;
  height: 140px;
  width: 140px;
  padding: 3px;
  border-radius: 50%;
  background-color: #7070f9;
}

.profile-picture .profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #faebd7;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-details .profile-name {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
}

.profile-details .profile-status {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 300;
}

.social-icons {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.social-icons .social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #36a3fc;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  color: #faebd7;
  text-decoration: none;
  font-size: 15px;
}

.action-buttons {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.action-buttons .action-button {
  padding: 10px;
  margin: 0 15px;
  border: none;
  border-radius: 25px;
  background-color: #0b6ebf;
  color: white;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease;
}

.action-buttons .action-button:hover {
  background-color: #094a8f;
}

.analytics {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
}

.analytics .data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analytics .data i {
  font-size: 20px;
  color: #1a89de;
}

.analytics .data .num {
  font-size: 20px;
  font-weight: 500;
  margin-top: 5px;
}
